/* Frame color - 3A2421 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  box-sizing: border-box;
}

#page {
  background-color: #03111C;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  &:focus-within #mandala-core {
    animation: mandala-core 25s infinite;
  }
}

#flexy {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

#mandala-frame {
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 8;
  background-image: url("/Earth&Sky.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid #3A2421 1rem;
  z-index: 0;
}

#mandala-core {
  /* background-image: url("/Earth&Sky.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  position: absolute;
  height: 60vh;
  width: 60vh;
  z-index: 10;
  border-radius: 50%;
    &:hover {
      transition: ease-in-out 2s;
      transform: scale(1.1);
    }
}

@keyframes mandala-core {
  0% {transform: scale(0);}
  50% {transform: scale(1);}
  100% {transform: scale(0);}
}